.shadowbox{
    width: 5cm;
    height: 6cm;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
    font-family: 'Times New Roman', Times, serif;
    font-size:30px;
    color:red;
}
table {
    border-collapse: collapse;
    width:50%;
    margin-left: 7cm;
    margin-top:1.5cm;
    background-color: honeydew;
    
}
td,tr{
    padding: 15px;
    text-align: center;
    font-family: arial;
}
img{
    width:300px;
    height:300px;
}
h1{
    font-family: arial;
    color:grey;
    text-align: center;
    margin-top:2cm;
}
p{
    font-family: arial;
    color:grey;
    text-align: center;
}
li{
    font-family: arial;
    text-align: left;
    
}

    